*{
  box-sizing: border-box;
}
html{
  max-width: 1440px;
  margin: 0 auto;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(63, 66, 97);
  overflow: hidden;
}
main{
  width: 80%;
  margin-bottom: 10%;
  overflow: hidden;
}
.mem-slider{
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: hidden;
}
.mem-scroll{
  width: calc(100%*5);
  display: flex;
}
#memes-first{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem1.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-second{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mrBeen.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-third{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_pregnant.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-fourth{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_design.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-fiveth{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_wow.jpg) no-repeat;
  background-size: 100% 86% ;
}
.memes-text{
  position: relative;
  top: 85%;
  color: white;
  font-size: 1.7rem;
}
.memes-navigation{
  width: 23rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10.0%;
  left: 67%;
  z-index: 1000;
}
.circle{
  display: block;
  height: 2rem;
  width: 2rem;
  background: rgb(90, 90, 235);
  border-radius: 50%;
}
.circle:hover{
  background: white;
}
.circle ::before{
  display: block;
  height: 140%;
  width: 140%;
  background: rgb(90, 90, 235);
  border-radius: 50%;  
  top: -20%;
  left: -20%;
}
