*{
  box-sizing: border-box;
}
html{
  max-width: 1440px;
  margin: 0 auto;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(63, 66, 97);
  overflow: hidden;
}
main{
  width: 80%;
  margin-bottom: 10%;
  overflow: hidden;
}
.mem-scroll{
  width: calc(100%*5);
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x;
}
#memes-first{
  width: 21%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem1.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-second{
  width: 20.1%;
  height: 60vh;
  display: flex;
  background: url(./assets/mrBeen.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-third{
  width: 20.2%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_pregnant.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-fourth{
  width: 20.3%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_design.jpg) no-repeat;
  background-size: 100% 86% ;
}
#memes-fiveth{
  width: 20%;
  height: 60vh;
  display: flex;
  background: url(./assets/mem_wow.jpg) no-repeat;
  background-size: 100% 86% ;
}
.memes-text{
  position: relative;
  top: 85%;
  color: white;
  font-size: 1.7rem;
}
